.header{
  position: fixed;
  color:black;
  top:10px;
  left:650px;
}
.footer img{
  position: fixed;
  top: 480px;
  left: 550px;
  max-width: 250px;

}
.tabela{
  position: fixed;
  top: 190px;
  left: 550px;
  float: left;
}
.tablePedidos{
  position: fixed;
  left:650px;
  top: 190px;
}
.tablePedidosADM{
  position: fixed;
  left:1250px;
  top: 190px;
}
.bordaAdminDemonstracao{
  position: fixed;
  left:530px;
  top: 200px;
  border-color: #111;
  float: left;
  padding-top:10px;
  padding-bottom:10px;
  width: 25%;
  height: 40%;
  border-style: double;
  border-color: black;
  background-color: #333
}
.descricao h1{
  position: relative;
  top: -50px;
  font-size: 15px;
  color: white;
}
.conteudoDescricao h1{
  border-style: double;
  padding:10px;
  position: relative;
  top: -50px;
  font-size: 15px;
  color: white;

}
.solicitou h1{
    font-size: 25px;  
  color: white;

}

.solicitadoPor h1{
  font-size: 15px;  
  color: white;

}

.horarioDemonstracao{
  width: 35%;
  color: white;

}
.horarioDemonstracao h1{
  font-size: 25px; 
    color: white;

}

.horarioReserva{
  width: 35%;
  color: white;

}
.horarioReserva time{
  font-size: 25px; 
    color: white;

}
.data{
  position: relative;
  left: 250px;
  top: -70px;
    color: white;

}
.data h1{
font-size: 15px;
  color: white;

}
.dataReserva{
position: relative;
  left: 250px;
  top: -68px;
  color: white;
  

}

.salaSelecionadaADM{
  position: relative;
  left: 250px;
  top: -70px;
    color: white;

}
.salaSelecionadaADM h1{
font-size: 15px;
  color: white;

}
.nomeSalaPedidoAdm{
position: relative;
  left: 250px;
  top: -68px;
  width: 22%;
    color: white;

}
.nomeSalaPedidoAdm h1{
  font-size: 25px;
}
.criaUsuarioform{
  position: fixed;
  left: 590px;
  top: 100px;

}
.login{
  position: fixed;
  left: 550px;
  top: 300px;
}
.senhaLogin{
  position: fixed;
  left: 550px;
  top: 330px;
}
.btnLogin{
  position: fixed;
  left: 600px;
  top: 360px;
}
.imagemLogin{
  position: fixed;
  top: 80px;
  left: 460px;
}
.bemVindo{
  position: fixed;
  top: 0px;
  right: 1115px;
  color: white;
}
.bemVindo h1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.botoesCima{
  position: fixed;
  right:600px;
  top:0px;

}
.botaoRegistraUsuario{
  position: fixed;
  top:500px;
  left:640px;
}
.addItem{
  position: fixed;
  top: 200px;
  left: 800px;
}
.botoesCima ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.botoesCima li{
  float: left;
}
.botoesCima li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.botoesCima li a:hover{
  background-color: #111;
}
.botaoAceitar{
  position: fixed;
  top: 480px;
  left: 570px;
}
.botaoRejeitar{
  position: fixed;
  top: 480px;
  left: 740px;
}